
.hove {
    background-color: #F6F8FA;
    color: black;
    border: 2px solid #F6F8FA;
    transition-duration: 1s;
    border-radius: 10px;
  }
  
  .hove:hover {
    border-color: blue;
  }
  .btn-hover{
    color: black;

  }
  .btn-hover:hover{
    color: white !important;

  }
  @media only screen and (max-width: 960px) {
    .col-lg-{
      width: 100%;
      margin-top: 10px;
    }
    .font1{
      font-size: 0%;
    }
    .font2{
      font-size: 0%;
    }
    .img1{
      height: 0px;
    }
    .img2{
      height: 0px;
    }
    .img3{
      height: 25px;
      width: auto;
    }
    .header1{
      position: fixed;
    }
  }
  @media only screen and (min-width: 960px) {
    .font1{
      font-size: xx-small;
    }
    .img1 {height: 25px;}
    .img3{
      height: 0px;
      width: 0px;
    }
  }
