
body{
  font-family: "Yekan Bakh";
	font-style: normal;
	font-weight: bold;
  overflow-x: hidden;
  background-color: #F6F8FA;
}
/* start header */
.bg-header{
  background-color: #F6F8FA;

}
.font-n{
  font-family: "Yekan Bakh"!important;
	font-style: normal;
	font-weight: bold;
}
/* end header */

/* start offcanvas */
.bg-offcanvas{
border-radius: 50%;
margin-left: 80%;
padding: 15px;
background-color: blue;
background-repeat: no-repeat;
background-position-x: center;
background-position-y:center ;

}
.img-frame{
  display: none;
  /* position: fixed; */
}
.btn-off{
  border-radius: 50%;
  background-color: #F6F8FA;
}
/* start profile */
.circular-progress {
  right: 0px;
  top: 0px;
  --size: 245px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 16px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
}

.test{
  animation: progress-animation 2s linear 0s 1 forwards;
}

.offcanvas-box{
  height: 90vh;
  overflow-y: scroll;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}


.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #28B446;
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes progress-animation {
  from {
      --progress: 0;
  }

  to {
      --progress: 76;
  }
}
.div_img{
  top: 5px;
  left: 5px;
}
.img_profile_offcanvas {
  width: 77px;
  height: 77px;
  border-radius: 50%;
}
/* end profile */

/* end  offcanvas */

/* start accordion */
.bg-accordion{
  background-color: #D8E2EC;
}
.btn-hover{
  color: black;

}
.btn-hover:hover{
  color: white !important;

}
/* end accordion */
/* start section main */
.hove {
    background-color: #F6F8FA;
    color: black;
    border: 2px solid #F6F8FA;
    transition-duration: 1s;
    border-radius: 10px;
  }
  
  .hove:hover {
    border-color: blue;
  }
  
  .st-section{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .st-text{
    text-align: justify;
    direction: rtl;
  }
  .f-size{
    font-size: small;
  }
  .b-section{
    width: 88%;
    border-radius: 15px;
  }
  .b-section2{
    width: 94%;
    direction: rtl;
  }
  .bg-select{
    direction: rtl;
    background: #F6F8FA;
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y:center ;
  }
  .bg-button-select{
    background-color: #F6F8FA;
  }
  .f-select{
    direction: rtl;
    background: #F6F8FA;
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y:center ;
  }
  /* end section main */
  
  /* start respansive */
  @media only screen and (max-width: 960px) {
    .col-lg-{
      width: 100%;
      margin-top: 10px;
    }
    .font1{
      display: none;
    }
    .font2{
      display: none;
    }
    .img1{
      display: none;    }
    .img2{
      display: none;
    }
    .img3{
      height: 25px;
      width: auto;
      cursor: pointer;
    }
    .header1{
      position: fixed;
    }
    
    .img-frame{
      display: flex;
    }
  }
  @media only screen and (min-width: 960px) {
    .font1{
      font-size: xx-small;
    }
    .img1 {height: 25px;}
    .img3{
      height: 0px;
      width: 0px;
    }
    
    
    
  }
  /* end respansive */
