
body{
  font-family: "Yekan Bakh";
	font-style: normal;
	font-weight: bold;
  overflow-x: hidden;
  background-color: #F6F8FA;
}
.bg-header{
  background-color: #F6F8FA;
}
.font-n{
  font-family: "Yekan Bakh"!important;
	font-style: normal;
	font-weight: bold;
}

.bg-offcanvas{
border-radius: 50%;
margin-left: 80%;
padding: 15px;
background-color: blue;
background-repeat: no-repeat;
background-position-x: center;
background-position-y:center ;

}
.img-frame{
  display: none;
  position: fixed;
}
.btn-off{
  border-radius: 50%;
  background-color: #F6F8FA;
}
.bg-accordion{
  background-color: #D8E2EC;
}
.hove {
    background-color: #F6F8FA;
    color: black;
    border: 2px solid #F6F8FA;
    transition-duration: 1s;
    border-radius: 10px;
  }
  
  .hove:hover {
    border-color: blue;
  }
  .btn-hover{
    color: black;

  }
  .btn-hover:hover{
    color: white !important;

  }
  .st-section{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .st-text{
    text-align: justify;
    direction: rtl;
  }
  .f-size{
    font-size: small;
  }
  .b-section{
    width: 88%;
    border-radius: 15px;
  }
  .b-section2{
    width: 94%;
    direction: rtl;
  }
  .bg-select{
    direction: rtl;
    background: #F6F8FA;
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y:center ;
  }
  .bg-button-select{
    background-color: #F6F8FA;
  }
  .f-select{
    direction: rtl;
    background: #F6F8FA;
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y:center ;
  }
  
  @media only screen and (max-width: 960px) {
    .col-lg-{
      width: 100%;
      margin-top: 10px;
    }
    .font1{
      display: none;
    }
    .font2{
      display: none;
    }
    .img1{
      display: none;    }
    .img2{
      display: none;
    }
    .img3{
      height: 25px;
      width: auto;
    }
    .header1{
      position: fixed;
    }
    .img-frame{
      display: flex;
      position: fixed;
    }
  }
  @media only screen and (min-width: 960px) {
    .font1{
      font-size: xx-small;
    }
    .img1 {height: 25px;}
    .img3{
      height: 0px;
      width: 0px;
    }
    
  }
